body{
    background-image: url('../img/fondo.jpg');
}
.seccionUno{
    background-color: white;
    height: 150px;
    align-items: center;
    display: grid;
}
.seccionUno__parrafoUno{
    font-weight: 700;
    font-size: 30px;
}
.seccionDos{
    margin-top: 20px;
}
.seccionDos__date{
    background-color: white;
    height: 100px;
    width: 24%;
    margin-right: 2%;
}
.p1{
    margin-top: 6%;
}
.p2{
    font-size: 20px;
    font-weight: 600;
}
.seccionTres{
    background-color: white;
    height: 150px;
    margin-top: 20px;
}